html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.cartel {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  font-family: monospace;
  line-height: 1;
}
.cartel > div {
  display: flex;
  align-items: center;
}
.cartel > div + div {
  margin-top: 15px;
}
.cartel .description {
  margin-right: 15px;
  font-size: 1.5rem;
}
.cartel .value {
  font-size: 2rem;
}

.hemiciclo__container {
  background-color: #233546;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.hemiciclo {
  position: relative;
  flex: 1;
  margin: 0 10px 15px;
  transition: 200ms all ease;
  touch-action: auto !important;
  user-select: auto !important;
  cursor: default !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hemiciclo > svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.hemiciclo.hemiciclo--initializing > svg {
  display: none;
}
.hemiciclo.hemiciclo--initializing:after {
  content: 'CARGANDO';
  color: #fff;
  font-size: 3rem;
  font-weight: 100;
}

.hemiciclo > svg foreignObject {
  overflow: inherit;
}
.hemiciclo > svg .butaca_circle_div {
  border-radius: 50%;
  background-color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hemiciclo.hemiciclo--clickable > svg .butaca_circle_div:hover {
  cursor: pointer;
}
.hemiciclo > svg .butaca_circle_div > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: none !important;
}
.hemiciclo > svg .butaca_circle_div > .banca__numero {
  font-family: monospace;
  color: #fff;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 100;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hemiciclo > svg .butaca_circle_div > img ~ .banca__numero {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: inherit;
}
.hemiciclo > svg .butaca_circle_div:hover > img ~ .banca__numero {
  opacity: 1;
}
